{{#with data}}
<div class="home__intro">
  <div class="home__introInfo">
    <h1>Juan is front-end developer who focuses on building websites that are visually
      appealing and that provide quality user experience.</p>
    </h1>
  </div>
</div>
<main role="main">

  <div class="projects">
    {{#each projects}}

    <div class="projects__cards">
      <div class="projects__thumbnail">
        <a href={{url}}>
          <img src={{img}}>
        </a>
      </div>
      <!-- Post Content-->
      <div class="projects__info">
        <a href={{url}}>
          <h2 class="projects__title">
            <!-- style="color:{{color}}" -->
            {{{title}}}</h2>
        </a>
        <p>{{{description}}}</p>
        <div class="projects__links">
          {{{info.[4].content}}}
        </div>
      </div>
      {{!-- <a href={{url}}></a> --}}
    </div>



    {{/each}}
  </div>
</main> {{/with}}