

{{#with pro}}
<div class="container">

  <!-- Portfolio Item Heading
  <h1 class="my-4">
    <medium>{{name}}</medium >
  </h1>ß
 -->
  <!-- Portfolio Item Row -->
<div class="text-center">
  <img src={{secondimg}} class="rounded" alt="...">
</div>
    

<div class="col-md-12 my-6 text-muted">
          <div class="titles"> <h2>{{title}}</h2> 
            {{{desc}}}
          </div>
</div>
 
    <div class="row">
    {{#each info}}
        <div class="col-md-6 text-muted">
            <div class="titles">{{title}}<br><p>{{{content}}}</p></div>
        </div>
    {{/each}}
    </div>



  
  {{/with}}