{{#with pro}}
<div class="project__container">
  <div class="project__cards">
    <div class="project__name">
      <h2>{{title}}</h2>
      <p class="project__type">Website</p>

    </div>

    <div class="project__summary">
      <h2>Project Summary</h2>
      {{{desc}}}
    </div>

    <div class="text-center">
      <img src={{secondimg}} class="rounded" alt="...">
    </div>


    <div class="project__data">
      {{#each info}}
      <div class="project_halfData">
        <h2>{{{title}}}</h2>
        <p>{{{content}}}</p>
      </div>
      {{/each}}

    </div>
  </div>
</div>




{{/with}}